.chart {
  padding: 1rem;
}

.stock-card {
  display: block;
  text-decoration: none;
  cursor: pointer !important;
}

.stock-info {
  padding: 1rem;
  padding-bottom: 0;
  text-decoration: none;
}

.company {
  display: block;
  margin-right: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}

.ticker {
  font-size: 0.8rem;
  color: #aaa;
}

.current-price {
  display: block;
  font-size: 1.8rem;
  font-weight: 900;
}

.dropdown-more {
  border-radius: 50%;
  color: #333;
  font-size: 2.4rem;
  cursor: pointer;
}

.chart__dropdown-container {
  position: absolute;
  top: 0;
  right: 5px;
}
.chart__dropdown {
  position: absolute;
  right: 0%;
  top: 20px;
  width: 100px;
  transition: 5s;
  border-radius: 3px;
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}

.chart__dropdown.active {
  opacity: 1;
}

.chart__dropdown li {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.chart__dropdown-icon {
  margin-right: 0.5rem;
  font-size: 1rem;
}

/* .chart__dropdown li:not(:last-child) {
  border-bottom: 1px solid #eee;
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.edit__mode-delete-icon {
  border-radius: 50%;
  color: red;
  font-size: 2.2rem;
  cursor: pointer;
  margin-top: 5px;
}

/* REACT RESIZABLE */
